body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home_page {
  margin-left: 4%;
  margin-right: 4%;
  height: 150px;
  display: flex;
}
.image{
  height : 100%
}
.home_page > p {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.team{
  text-align: center;
}