@{
    ViewBag.Title = "Check Link";
}


<form>
    <div class="center">
        <label for="link">
            Please insert the link <br>
        </label>
        <input type="text" name="Link" placeholder="Link" id="link" class="form-control form-control-lg">
        <a type="submit" value="Check link" id="check_link" class="btn btn-default" href="~/Home/AfterCheckLink">
            Check Link
        </a>
    </div>
</form>