@{
    ViewBag.Title = "History";
}
<h2>News Detection History</h2>
<table class="table">
    <thead>
        <tr>
            <th>Link</th>
            <th>Decision</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>https://news.cornell.edu/stories/2021/11/900-mile-mantle-pipeline-connects-galapagos-panama</td>
            <td>Fake</td>
            <td>12/6/2021</td>
        </tr>
        <tr>
            <td>https://caseyhandmer.wordpress.com/2021/11/17/science-upside-for-starship/</td>
            <td>Real</td>
            <td>11/6/2021</td>
        </tr>
        <tr>
            <td>https://edition.cnn.com/style/article/cary-joji-fukunaga-interview-beasts-of-no-nation-criterion-spc-intl/index.html</td>
            <td>Real</td>
            <td>26/9/2021</td>
        </tr>
    </tbody>
</table>